<template name="gamePlayComputer">

    <div class="row display-none animate-fade-in">
        <div class="col s12 m12 l4 offset-l4">
            <div class="row center-align mb0">
                <h4 class="white-text mt0"><i class="material-icons small mt5 mr5">tune</i> Select level</h4>

                <div class="divider mt20 mb20 blue-grey darken-2"></div>

                <i class="material-icons white-text">android</i>

                <p class="white-text">coming soon</p>

                <div class="divider mt20 blue-grey darken-2"></div>

                <div class="row center-align mb0">
                    <a href="{{ pathFor route='home' }}" class="waves-effect waves-teal btn-flat blue-grey-text text-darken-2">Back to Home</a>
                </div>

                <!--
                <a href="#" level="1" class="game-select-level waves-effect waves-light teal lighten-1 btn-large btn-block mb20"><i class="material-icons left">looks_one</i> Easy </a>
                <a href="#" level="2" class="game-select-level waves-effect waves-light deep-orange darken-1 btn-large btn-block mb20"><i class="material-icons left">looks_two</i> Medium </a>
                <a href="#" level="3" class="game-select-level waves-effect waves-light deep-orange darken-1 btn-large btn-block mb20"><i class="material-icons left">looks_3</i> Hard </a>
                -->
            </div>
        </div>
    </div>

</template>