<template name="gamePlay">

    <div class="row">
        <!-- Tabs -->
        <div class="col s12 hide-on-med-and-up mb20">
            <ul class="tabs">
                <li class="tab col s3"><a href="#sets">Sets</a></li>
                <li class="tab col s3"><a class="active" href="#matrix">Game</a></li>
                <li class="tab col s3"><a href="#chat">Chat</a></li>
            </ul>
        </div>

        <!-- Sets -->
        <div class="col s12 m3 animate-fade-in display-none tab-content" id="sets">
            <h4 class="white-text mt0 hide-on-small-only"><i class="material-icons small left mt5 mr5">format_list_numbered</i> Sets</h4>

            <ul class="collection">
                {{# each gameSets }}
                    <li class="collection-item avatar">
                        <i class="circle green">{{ number }}</i>
                        <span class="title">
                            {{# if result }}
                                {{ result.winner }}
                            {{ else }}
                                {{# if game.is.playing }}
                                    In progress!
                                {{ else }}
                                    The game has not started yet
                                {{/ if }}
                            {{/ if }}
                        </span>
                        <p>
                            {{# if result }}
                                Using {{ result.using }}
                            {{ else }}
                                ...
                            {{/ if }}
                        </p>
                    </li>
                {{/ each }}
            </ul>
        </div>

        <!-- Matrix -->
        <div class="col s12 m4 offset-m1 center-align tab-content" id="matrix">
            <div class="row mb0">
                <div class="col s4 center-align border-right cell cell-0 cell-00" cell-row="0" cell-col="0">
                    {{{ getCellData 0 0 }}}
                </div>
                <div class="col s4 center-align border-right cell cell-1 cell-01" cell-row="0" cell-col="1">
                    {{{ getCellData 0 1 }}}
                </div>
                <div class="col s4 center-align cell cell-2 cell-02" cell-row="0" cell-col="2">
                    {{{ getCellData 0 2 }}}
                </div>
            </div>

            <div class="row mb0 border-top">
                <div class="col s4 center-align border-right cell cell-10" cell-row="1" cell-col="0">
                    {{{ getCellData 1 0 }}}
                </div>
                <div class="col s4 center-align border-right cell cell-11" cell-row="1" cell-col="1">
                    {{{ getCellData 1 1 }}}
                </div>
                <div class="col s4 center-align cell cell-12" cell-row="1" cell-col="2">
                    {{{ getCellData 1 2 }}}
                </div>
            </div>

            <div class="row mb0 border-top">
                <div class="col s4 center-align border-right cell cell-20" cell-row="2" cell-col="0">
                    {{{ getCellData 2 0 }}}
                </div>
                <div class="col s4 center-align border-right cell cell-21" cell-row="2" cell-col="1">
                    {{{ getCellData 2 1 }}}
                </div>
                <div class="col s4 center-align cell cell-22" cell-row="2" cell-col="2">
                    {{{ getCellData 2 2 }}}
                </div>
            </div>

            <p class="z-depth-1 white-text deep-orange darken-1 mt20 pa10 mb0" id="game-messages">
                {{# if game.is.playing }}
                    <span class="game-message player-turn-message">
                        {{ gamePlayerName game.status.turn }}'s turn
                    </span>
                {{/ if }}

                <span class="game-message player-versus-message">
                    <span class="left">
                        {{# if game.is.playing }}
                            <strong>{{ game.players.[0].score }}</strong> &bull;
                        {{/ if }}

                        {{ gamePlayerName 0 }}
                    </span>
                    <span><strong>vs</strong></span>
                    <span class="right">
                        {{ gamePlayerName 1 }}
                        {{# if game.is.playing }}
                            <strong>&bull; {{ game.players.[1].score }}</strong>
                        {{/ if }}
                    </span>
                </span>
            </p>

            {{# if game.is.playing }}
                <script>

                </script>
            {{/ if }}

            {{# if not game.status.playerJoined }}
                <div class="progress mb0 mt0">
                    <div class="indeterminate"></div>
                </div>
            {{/ if }}

            <div class="row mt20 mb0">
                <div class="col s6 pl0">
                    <a class="waves-effect waves-light btn btn-block modal-trigger" href="#modal-restart-set"><i class="material-icons left">replay</i>Restart Set</a>
                </div>

                <div class="col s6 pr0">
                    <a class="waves-effect waves-light btn btn-block"><i class="material-icons left">flag</i>Finish Game</a>
                </div>
            </div>
        </div>

        <!-- Chat -->
        <div class="col s12 m3 offset-m1 animate-fade-in display-none tab-content" id="chat">
            <h4 class="white-text mt0 hide-on-small-only"><i class="material-icons small left mt5 mr5">chat</i> Chat</h4>

            <form id="form-game-chat">
                <div class="row white">
                    <div class="input-field col s12">
                        <input placeholder="type your message here" id="form-game-chat-text" type="text" class="validate" autocomplete="off" />
                    </div>
                    <div class="input-field col s12">
                        <button class="waves-effect waves-light teal lighten-1 btn btn-block mb20" id="form-game-chat-send" type="submit">Send</button>
                    </div>
                </div>
            </form>

            <ul class="collection">
                {{# each gameChat }}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">face</i>

                        <span class="title">{{ text }}</span>
                        <p>{{ name }}</p>
                    </li>
                {{/ each }}
            </ul>
        </div>
    </div>

    <div class="display-none">
        {{ gameHighlightCells }}
    </div>

    <div id="modal-restart-set" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>This will restart the current game set, Okay?</p>
            <p>Caution: The other player may get pissed on you if winning. </p>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat" id="restart-set-okay">Yes</a>
            <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>

</template>