<template name="gamePlayFriend">

    <div class="row display-none animate-fade-in">
        <div class="col s12 m4 offset-m4">
            <div class="row center-align mb0">
                <a href="#" id="game-start" class="waves-effect waves-light deep-orange darken-1 btn-large btn-block mb20"><i class="material-icons left">face</i> Start A New Game </a>
            </div>

            <div class="row center-align">
                <div class="col s1 m2 pa0">
                    <div class="divider mt20"></div>
                </div>
                <div class="col s10 m8">
                    <h5 class="white-text center-a">or join an online game</h5>
                </div>
                <div class="col s1 m2 pa0">
                    <div class="divider mt20"></div>
                </div>
            </div>

            <div class="row">
                <ul class="collection staggered-list" id="staggered-list">

                    {{# if gamesOnlineCount }}
                        {{# each gamesOnline }}

                            <li class="collection-item avatar">
                                <i class="material-icons circle">face</i>

                                <span class="title">{{ playerOne.name }}</span>
                                <p>created {{ niceTime createdAt }}</p>

                                <a href="{{ pathFor route='gamePlay' gameId=_id }}" class="secondary-content" title="Join"><i class="material-icons small">play_arrow</i></a>
                            </li>

                        {{/ each }}
                    {{ else }}

                        <li class="collection-item align-center">
                            <p>Ummm, there is no game online currently. Why don't you start one and play?</p>
                        </li>

                    {{/ if }}
                </ul>
            </div>
        </div>
    </div>

</template>