/* --------------------- common --------------------- */
html, body {
    background-color: #263238;
}
.border-top { border-top: 8px solid #455a64; }
.border-right { border-right: 8px solid #455a64; }
.mt0 { margin-top: 0px; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px !important; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mb0 { margin-bottom: 0px; }
.mb20 { margin-bottom: 20px; }
.pa0 { padding: 0px !important; }
.pa10 { padding: 10px; }
.pl0 { padding-left: 0px !important; }
.pr0 { padding-right: 0px !important; }

.display-none { display: none; }
.btn-block { width: 100%; }
.text-uppercase { text-transform: uppercase; }
.absolute-center {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
/* --------------------- / common --------------------- */

/* --------------------- content --------------------- */
/* header */
header i { font-size: 3.5rem !important; margin-left: 5px; }
header .button-collapse { display: inline-block; }
.img-logo { width: 200px; }
/* signin signup */
.col.s12.m8.offset-m2.l4.offset-l4.z-depth-1 { box-shadow: none !important; }
.at-form .at-title .header { color: #fff; }
.at-form .at-signup-link, .at-form .at-signin-link { color: #fff; }
.at-form .at-social-btn { margin-bottom: 20px; }
/* list */
.staggered-list li {
    opacity: 0;
}
/* matrix */
#matrix .cell {
    cursor: pointer;
    color: #fff;
    align-items: center;
    display: flex;
}
#matrix .cell .material-icons {
    margin: 0px auto;
    transition: all 0.5s ease;
}
#matrix .cell .material-icons.active {
    color: #ff9800;
    font-size: 7rem;
}
/* --------------------- / content --------------------- */

/* --------------------- materialize override --------------------- */
.collection { border: none; }
.collection .collection-item.avatar { min-height: 68px; }
.collection .secondary-content i { font-size: 2.5rem; }
.tabs .tab a {
    color: #ff5722;
}
.tabs .tab a:hover {
    color: #e65100;
}
.tabs .indicator {
    background-color: #ff5722;
    height: 4px;
}
.toast {
    background-color: #fff;
    color: #ff5722;
}
#chat .collection .collection-item p, #sets .collection .collection-item p {
    color: #666;
}
#modal-restart-set {
    max-width: 500px;
}
/*
.collection-item h5, .collection-item p {
    margin: 0px;
}
*/
/* --------------------- / materialize override --------------------- */

/* --------------------- Responsive Fixes --------------------- */
/* small device */
@media (max-width: 767px) {

}
/* big device */
@media only screen and (min-width : 768px) {
    .tab-content {
        display: block !important;
    }
    #sets .collection {
        max-height: 470px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 0px;
    }
    #chat .collection {
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 0px;
    }

}
/* --------------------- / Responsive Fixes --------------------- */

/* --------------------- Animations --------------------- */
.pulse {
    color: #ff9800;
    -webkit-animation: beat .25s infinite alternate;
    -moz-animation: beat .25s infinite alternate;
    -ms-animation: beat .25s infinite alternate;
    -o-animation: beat .25s infinite alternate;
    animation: beat .25s infinite alternate;

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
@keyframes beat {
    to {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }

}

@-moz-keyframes beat {
    to {
        -moz-transform: scale(1.4);
        transform: scale(1.4);
    }

}

@-webkit-keyframes beat {
    to {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }

}

@-ms-keyframes beat {
    to {
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }

}

@-o-keyframes beat {
    to {
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }

}
/* --------------------- / Animations --------------------- */
