<template name="pagesAbout">

    <div class="row display-none animate-fade-in">
        <div class="col s12 center-align">
            <a href="{{pathFor route='home'}}"><img src="/images/logo.png" alt="Tic Tac Toe" class="img-logo"/></a>
        </div>

        <div class="col s12 mb20">
            <h2 class="text-uppercase white-text center-align">Tic Tac Toe</h2>
        </div>

        <div class="col s12">
            <p class="center-align white-text">
                &copy; <a href="http://atulmy.com" target="_blank" title="http://atulmy.com">atulmy.com</a> &bull;
                Made with <a href="https://www.meteor.com" target="_blank" title="https://www.meteor.com">Meteor</a> and <a href="http://materializecss.com" target="_blank" title="http://materializecss.com">Materialize</a> &bull;
                Source code on <a href="https://github.com/atulmy/meteor-tictactoe" target="_blank" title="https://github.com/atulmy/meteor-tictactoe">GitHub</a>
            </p>
        </div>
    </div>

</template>