<template name="pagesHome">

    <div class="row display-none animate-fade-in">
        <div class="col s12 center-align">
            <a href="{{pathFor route='home'}}"><img src="/images/logo.png" alt="Tic Tac Toe" class="img-logo"/></a>
        </div>

        <div class="col s12 center-align mb20">
            <h2 class="text-uppercase white-text">Tic Tac Toe</h2>
        </div>

        <div class="col s12 m4 offset-m4 l4 offset-l4 center-align">
            <a href="{{ pathFor route='gamePlayFriend' }}" class="waves-effect waves-light deep-orange darken-1 btn-large btn-block mb20"><i class="material-icons left">face</i> Play with friend </a>
        </div>

        <div class="col s12 m6 l3 center-align display-none">
            <a href="{{ pathFor route='gamePlayComputer' }}" class="waves-effect waves-light btn-large btn-block mb20"><i class="material-icons left">android</i> Play with computer</a>
        </div>
    </div>

</template>