<template name="pagesHome">

    <div class="row display-none animate-fade-in">
        <div class="col s12 center-align">
            <img src="/images/logo.png" style="width: 200px;"/>
        </div>

        <div class="col s12 center-align mb20">
            <h2 class="text-uppercase">Tic Tac Toe</h2>
        </div>

        <div class="col s12 m3 offset-m3 center-align">
            <a class="waves-effect waves-light deep-orange darken-1 btn-large btn-block mb20"><i class="material-icons left">face</i> Play with friend </a>
        </div>

        <div class="col s12 m3 center-align">
            <a class="waves-effect waves-light btn-large btn-block mb20"><i class="material-icons left">android</i> Play with computer</a>
        </div>
    </div>

    <script>
        $( function() {
            Meteor.setTimeout(function() {
                $('.animate-fade-in').fadeIn();
            }, 300);
        });
    </script>

</template>